*{
background-color: aquamarine;
}
legend{
    color: rgb(209, 93, 35);
}
body{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.submit{
    color:rgb(0, 0, 0);
    background-color: rgb(79, 210, 13);
    border-radius: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer; 
}
.submit :hover{
    font-size: 150%;
}
   
.input{
    border-radius: 20px;
}
.reset{
    color:rgb(0, 0, 0);
    background-color: rgb(232, 66, 6);
    border-radius: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    cursor: pointer; 

}
